[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
pygame = "*"
zarr = "*"
pandas = "*"
torch = "*"
tqdm = "*"
scikit-learn = "*"
pygame-gui = "*"

[dev-packages]
black = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
